#solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  gap: 5.75rem;
}

#solution header {
  display: grid;
  gap: 1.5rem;
  text-align: center;
  max-width: 33rem;
}

#solution p {
    color: var(--second-text-color);
}

#solution p {
    color: var(--second-text-color);
}

#solution .even-columns {
    gap: 2rem;
     grid-template-columns: repeat(3, 1fr);
}

.card {
  background: var(--light-gray);
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  max-width: 100%;
  min-height: 26rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;

  span {
    display: flex;
    min-height: 10rem;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
  }

  div {
    height: 100%;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }
}

.card h3 {
    font-size: 1.5rem;
}

.card p {
  padding-inline: 1.5rem;
  color: var(--second-text-color);
}

.card hr {
  height: 6px;
  background: var(--secondary-color);
  width: 100%;
  border: none;
}

@media (width > 1280px) {
    #solution {
        padding-block: 7.5rem;
    }

    #solution header > span > h2 {
        font-size: var(--fs-sm);
        color: var(--primary-color);
    }
}